[submodule "src/cmp"]
	path = src/cmp
	url = git@github.com:camgunz/cmp.git
[submodule "src/crc"]
	path = src/crc
	url = git@github.com:nuft/CRC.git
[submodule "src/serial-datagram"]
	path = src/serial-datagram
	url = git@github.com:Stapelzeiger/serial-datagram.git
[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/nuft/ChibiOS.git
[submodule "src/sensors"]
	path = src/sensors
	url = https://github.com/nuft/sensor-drivers.git
